<!DOCTYPE html>
<html lang="en">
    <body>
        <div th:fragment="dropdownNavbar" 
             id="dropdownNavbar" 
             class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
            <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                <div th:text="#{navbar.dropdown.header}"></div>
                <div class="font-medium truncate">abc@gmail.com</div>
            </div>
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" 
                aria-labelledby="dropdownNavbarButton">
                <li>
                    <a href="#" 
                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                       th:text="#{navbar.dropdown.dashboard}">
                    </a>
                </li>
                <li>
                    <a href="#" 
                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                       th:text="#{navbar.dropdown.account}">
                    </a>
                </li>
                <li>
                    <a href="#" 
                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                       th:text="#{navbar.dropdown.setting}">
                    </a>
                </li>
            </ul>
            <div class="py-2">
                <a href="#" 
                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                   th:text="#{navbar.dropdown.signout}">
                </a>
            </div>
        </div>
    </body>
</html>