<!DOCTYPE html>
<html lang="en">
    <body>
        <div th:fragment="scripts">
            <script type="text/javascript" 
                    th:src="@{/webjars/jquery/jquery.min.js}">
            </script>
            <script type="text/javascript" 
                    th:src="@{/webjars/bootstrap/js/bootstrap.min.js}">
            </script>
            <script type="text/javascript">
                var contextPath = "[[@{/}]]";
                var csrfHeaderName = "[[${_csrf.headerName}]]";
                var csrfValue = "[[${_csrf.token}]]";
            </script>
        </div>
    </body>
</html>
