<!DOCTYPE html>
<html lang="en">
    <body>
        <nav th:fragment="navbar" 
             class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="/" 
                   class="navbar-brand waves-effect rounded">
                    <img th:src="@{/assets/logo.gif}" 
                         width="100">
                </a>
                <button class="navbar-toggler" 
                        type="button" 
                        data-mdb-collapse-init data-mdb-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" 
                               href="#"
                               th:text="#{admin_nav.home}">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" 
                               href="#"
                               th:text="#{admin_nav.products}">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" 
                               href="#"
                               th:text="#{admin_nav.users}">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" 
                               href="#" 
                               th:text="#{admin_nav.orders}">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" 
                               href="#" 
                               th:text="#{admin_nav.categories}">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" 
                               href="#" 
                               th:text="#{admin_nav.vendors}">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" 
                               href="#" 
                               th:text="#{admin_nav.order_baskets}">
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav d-flex flex-row ms-auto me-3">
                        <li class="nav-item me-3 me-lg-0 dropdown">
                            <a class="nav-link dropdown-toggle" 
                               href="#" 
                               id="navbarDropdown" 
                               role="button" 
                               data-mdb-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fas fa-plus"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" 
                                aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" 
                                       href="#">Action</a></li>
                                <li><a class="dropdown-item" 
                                       href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" 
                                       href="#">Something else here</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item me-3 me-lg-0 dropdown">
                            <a class="nav-link dropdown-toggle" 
                               href="#" 
                               id="navbarDropdown1" 
                               role="button" 
                               data-mdb-toggle="dropdown"
                               aria-expanded="false">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" 
                                     class="rounded-circle" 
                                     height="22" 
                                     alt=""
                                     loading="lazy" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" 
                                aria-labelledby="navbarDropdown1">
                                <li>
                                    <a class="dropdown-item" 
                                       href="#">
                                        Action
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" 
                                       href="#">
                                        Another action
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" 
                                       href="#">
                                        Something else here
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>