<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="blocks/fragments :: head('Category - SENKO', 'none')"></head>
    <body class="d-flex flex-column min-vh-100">
        <div th:replace="blocks/fragments :: scripts"></div>
        <div th:replace="blocks/fragments :: navbar"></div>
        <div class="container-fluid">
            <h4 class="text-center mb-4 mt-4" style="font-weight: 400;">[[#{category.title}]]</h4>
            <div class="row">
                <div class="col" th:each="cat : ${listCategories}">
                    <a th:href="@{'/category/' + ${cat.alias}}">
                        <div class="text-center zoom">
                            <img style="-webkit-filter: drop-shadow(3px 3px 3px #222); filter: drop-shadow(3px 3px 3px #222); width: 140px; height: 140px;" src="https://placehold.co/140.png"/>
                        </div>
                        <div class="category_label text-center mt-4">[[${cat.title}]]</div>
                    </a>
                </div>
            </div>
        </div>
        <footer th:replace="blocks/fragments :: footer"></footer>
    </body>
</html>
