<!DOCTYPE html>
<html lang="en" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments/head :: head('Home - SENKO', 'none')"></head>
    <body>
        <!--[START] navbar -->
        <div th:replace="fragments/navbar :: navbar"></div>
        <!--[END] navbar -->
        <!--[START] carousel -->
        <div th:replace="fragments/carousel :: carousel"></div>
        <!--[END] carousel -->
        <main>
            <div class="container">
                <nav class="navbar navbar-expand-lg mt-3 mb-4 rounded">
                    <button class="navbar-toggler" 
                            type="button" 
                            data-toggle="collapse" 
                            data-target="#nextNav" 
                            aria-controls="nextNav" 
                            aria-expanded="false" 
                            aria-label="Toggle navigation">
                        <i class="fas fa-bars" 
                           style="color: #fff; font-size: 26px;">
                        </i>
                    </button>
                    <div class="collapse navbar-collapse" 
                         id="nextNav">
                        <ul class="navbar-nav mx-auto justify-content-center"
                            th:each="categories : ${listCategories}">
                            <li class="nav-item">
                                <a class="nav-link rounded" 
                                   th:href="@{'/category/' + ${categories.alias}}"
                                   th:text="${categories.title}">
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <section class="text-center mb-4">
                    <div class="row wow faceIn">
                        <div th:each="product : ${listProducts}"
                             class="col-6 col-sm-6 col-md-3 my-3 mb-4">
                            <div class="card">
                                <a th:href="@{'/product/' + ${product.alias}}">
                                    <div class="view overlay">
                                        <img class="card-img-top" 
                                             th:src="${product.image}"
                                             alt="Product image"/>
                                        <div class="mask rgba-white-slight"></div>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="grey-text">
                                            <h5 th:text="${product.title}"></h5>
                                        </div>
                                        <h5 class="font-weight-bold blue-text">
                                            <strong th:text="${product.price} + ' VND'"></strong>
                                        </h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <!--[START] footer -->
        <footer th:replace="fragments/footer :: footer"></footer>
        <!--[END] footer -->
        <!--[START] scripts -->
        <div th:replace="fragments/scripts :: scripts"></div>
        <!--[END] scripts -->
    </body>
</html>
